/*my  div style */
.echartdiv{
        position: relative;
        width: 100%;
        height:800px;
        border:1px solid red;
        margin-top:70px;
    }
.echartdiv2{
        position: relative;
        width: 100%;
        height:800px;
        border:1px solid red;
        margin-top:70px;
    }