{% extends "../login/base.html" %}

 {% block title %}
        <title>
            首页
        </title>
{% endblock title %}

{% block header %}

    <div class="input-group" style="width:700; margin:20 438 30 auto">
        <input type="text" class="form-control" style="height:50" placeholder="输入地区看房价">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" style="height:50">
                <span class="glyphicon glyphicon-search"></span>

            </button>
        </span>
    </div><!-- /input-group -->
    <div style="height:450; background-color: #f9f9f9;">
        <div style="float:left;">
            <div id="left" style="color: #fff; background-color: #61d2c6; height:385; width:800;">
                 <div style="padding: 45 40 45 40;">
                     <div id="title" style="height:55; width:720">
                         <div style="float: left; font-weight: 700; font-size: 55px; line-height: 55px;">
                             苏州
                         </div>
                     </div>

                     <div style="height:100; width:620; margin-top:140">
                         <div style="height:24; width:620; margin-bottom:20">
                             <span style="font-size: 18px; font-weight: 700; float: left;">
                                02月链家参考均价
                             </span>
                         </div>
                         <div style="height:60; width:620;">
                             <span id="price" style="font-family: tahoma;font-weight: 700;font-size: 80px;line-height: 60px; float: left;">
                                 25920
                             </span>
                             <span style="font-size: 24px;line-height: 24px;margin-left: 10px;position: relative;top: 38px;float:left">
                                    元/㎡
                             </span>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
        <div id="right" style="float: right; width: 340;">
            <div style="padding: 0 20px 0 30px;">
                <ul style="list-style: none;">

                    <li style="height: 80px; line-height: 20px; padding: 20px 0 9px;border-bottom: 1px solid #f8f8f8; font-weight: 700;">
                        简要展示信息
                    </li>
                </ul>

            </div>
        </div>
    </div>


{% endblock header %}

{% block content %}

    <div id="pricemap_china" style="color: #fff; background-color: #61d2c6; height:600; width:800;"></div>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors//static/echarts-gl//static/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors//static/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script type="text/javascript">
           var myChart = echarts.init(document.getElementById('pricemap_china'), 'light', {renderer: 'canvas'});

var option = {
    title: [
        {

            text: "全国房价热度图",
            subtext: "data from 安居客",
            left: "center",
            top: "auto",
            textStyle: {
                color: "#fff",
                fontSize: 18
            },
            "subtextStyle": {
                "fontSize": 12
            }
        }
    ],
    toolbox: {
        show: true,
        orient: "vertical",
        left: "95%",
        top: "center",
        feature: {
            saveAsImage: {
                show: true,
                title: "save as image"
            },
            /*myBack: {
                show: true,
                title: "返回",
                icon: 'image://http://echarts.baidu.com/images/favicon.png',
                onclick: function () {
                    var map_level = {{ map_level|safe }};
                    if (map_level == 2){
                        window.location.href = '../';
                    }
                    else if (map_level == 3){
                        window.location.href = './';
                    }
                }
            },*/
        },
    },
    series_id: 7858556,
    tooltip: {
        trigger: "item",
        triggerOn: "mousemove|click",
        axisPointer: {
            type: "line"
        },
        textStyle: {
            fontSize: 14
        },
        backgroundColor: "rgba(50,50,50,0.7)",
        borderColor: "#333",
        borderWidth: 0,
        formatter: '{b}平均房价：{c}'
    },
    series: [
        {
            type: "map",
            symbol: "circle",
            label: {
                normal: {
                    show: true,
                    position: "inside",
                    textStyle: {
                        fontSize: 12
                    }
                },
                emphasis: {
                    show: true,
                    position: "inside",
                    textStyle: {
                        "fontSize": 16
                    }
                }
            },
            mapType: 'china',
            data: {{ data|safe }},
            roam: true,
            showLegendSymbol: false,
        }
    ],
    legend: [
        {
            data: [
                ""
            ],
            selectedMode: "multiple",
            show: true,
            left: "center",
            top: "top",
            orient: "horizontal",
            textStyle: {
                fontSize: 12
            }
        }
    ],
    backgroundColor: "#404a59",
    animation: true,
    color: [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597",
        "#f6f5ec"
    ],
    visualMap: {
        type: "continuous",
        min: 0,
        max: 200,
        text: [
            "high",
            "low"
        ],
        textStyle: {
            "color": "#fff"
        },
        inRange: {
            color: [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        calculable: true,
        splitNumber: 5,
        orient: "vertical",
        left: "left",
        top: "bottom",
        showLabel: true
    }
};
myChart.setOption(option);
/*myChart.on('click', function (params) {
    var next_map = params.name.split("市")[0];
    var map_level = 12;
    if (map_level != 3){
        window.location.href = next_map;
    }
})*/
       </script>
{% endblock content %}