
{% extends "../basenav.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mydiv.css' %}"			type="text/css" media="all">
{% endblock %}
{% block header %}
    <div style="height:450; background-color: #f9f9f9;">
        <div style="float:left;">
            <div id="left" style="color: #fff; background-color: #61d2c6; height:385; width:800;">
                 <div style="padding: 45 40 45 40;">
                     <div id="title" style="height:55; width:720">
                         <div style="float: left; font-weight: 700; font-size: 55px; line-height: 55px;">
                             {{location|safe}}
                         </div>
                     </div>

                     <div style="height:100; width:620; margin-top:140">
                         <div style="height:24; width:620; margin-bottom:20">
                             <span style="font-size: 18px; font-weight: 700; float: left;">
                                02月链家参考均价
                             </span>
                             <span style="font-size: 18px; font-weight: 700; float: right;">
                                二手房数量
                             </span>
                         </div>
                         <div style="height:60; width:620;">
                             <span id="price" style="font-family: tahoma;font-weight: 700;font-size: 80px;line-height: 60px; float: left;">
                                 {{average|safe}}
                             </span>
                             <span style="font-size: 24px;line-height: 24px;margin-left: 10px;position: relative;top: 38px;float:left">
                                    元/㎡
                             </span>
                             <span style="font-size: 24px;line-height: 24px;margin-left: 10px;position: relative;top: 38px;float:right">
                                套
                            </span>
                             <span id="price" style="font-family: tahoma;font-weight: 700;font-size: 80px;line-height: 60px; float: right;">
                                {{count|safe}} 
                            </span>                            
                         </div>
                     </div>
                 </div>
            </div>
        </div>
        <div id="right" style="float: right; width: 340;">
            <div style="padding: 0 20px 0 30px;">
                <ul style="list-style: none;">

                    <li style="height: 80px; line-height: 20px; padding: 20px 0 9px;border-bottom: 1px solid #f8f8f8; font-weight: 700;">
                        简要展示信息
                    </li>
                </ul>

            </div>
        </div>
    </div>

{% endblock header %}

{% block content %}
<div>
    <iframe height="500" width="1000" src="{% url 'baidumap' location %}"></iframe>
</div>
{% endblock content %}