

{% extends "../login/base.html" %}



    {% block title %}
        房价展示
    {% endblock title %}
{% block header %}
    <div class="jumbotron">

        <div class="panel panel-warning">
            <script type="text/javascript" src="../../static/js/SelectArea.js"></script>
            <div>
                省：<select id="cmbProvince"></select>
                市：<select id="cmbCity" oninput="findCity()"></select>

                <br />
                <script type="text/javascript">
                    <!--addressInit('cmbProvince', 'cmbCity', '江苏', '苏州市');-->


                    <!--function findCity(){-->
                    <!--var city = document.getElementById("cmbCity").value-->
                    <!--$.ajax({-->
                            <!--url:"/findCity",-->
                            <!--type:"GET",-->
                            <!--data:{value: city},-->

                             <!--success:function(data){-->
                                <!--alert("成功传入")-->
                             <!--}-->
                             <!--});-->

                    <!--}-->


                </script>
            </div>



            <h2>
                苏州  区域 价格 面积 选择框
            </h2>
            <div class="row">

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    城区 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for area in areas %}
                        {% if area == '1' %}
                        {% else %}
                        <li><a href="#">{{ area }}</a></li>
                          {# a 标签跳转到 views中 传递所选参数#}
                        {% endif %}
                         {% empty %}
                            <li>出错了 >_<!!</li>
                        {% endfor %}
                        <li role="separator" class="divider"></li>
                    </ul>
                </div>

                <div class="col-lg-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="输入地区看房价">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                        .
                    </button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->

                <a class="btn btn-default dropdown-toggle" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  城区选择
            </a>
            <!--button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Button with data-target
            </button-->
                <div class="collapse" id="collapseExample">
                  <div class="well">
                      <ol class="breadcrumb">
                          <li><a href="#">姑苏</a></li>
                          <li><a href="#">相城</a></li>
                          <li><a href="#">吴中</a></li>
                          <li><a href="#">吴江</a></li>
                          <li><a href="#">工业园区</a></li>
                      </ol>

                  </div>
                </div>

                <a class="btn btn-default" href="#" role="button">地图展示</a>

            </div><!-- /.row -->


        </div>


    </div>
{% endblock header %}

{% block content %}
    <h3></h3>

    <div class="panel panel-default">
      <div class="panel-heading">
          <p style="text-align:center" id="title">{{ title }}房价走势图
          </p>
          <p id="result"></p>
          <!--点击按钮 调用setOption函数，传递所查询年份参数，获取数据，-->
          <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default" onclick="set_option(2019)">2019</button>
              <button type="button" class="btn btn-default" onclick="set_option(2018)">2018</button>
              <button type="button" class="btn btn-default" onclick="set_option(2017)">2017</button>
              <button type="button" class="btn btn-default" onclick="set_option(2016)">2016</button>
              <button type="button" class="btn btn-default" onclick="set_option(2015)">2015</button>
              <button type="button" class="btn btn-default" onclick="set_option(2014)">2014</button>
              <button type="button" class="btn btn-default" onclick="set_option(2013)">2013</button>

            </div>


      </div>
      <div class="panel-body">
        <table>
            <tr>
                <td>
                    <div id="container" style="width: 850; height:500"></div>

                    <!--script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
                   <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=bYDVcpClsHGONyldgXqPxM6q5VnKOp31"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script-->
                    <script type="text/javascript">

addressInit('cmbProvince', 'cmbCity', '江苏', '苏州市');



  // {{ 从view中传递的数据 }}
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};

//  将option 定于为 mychart对象的属性，Ajax能修改
myChart.option = null;


    var areas = {{ areas|safe }}
    var info_dict = {{ info_dict|safe }}
    var mydata = new Array()  //数组存放每个地区某一年的房价
    var myseries = new Array()  // [{},{},{}]
    for (var i=0; i < areas.length; i++)
    {
        mydata[i]= info_dict[areas[i]].reverse();
        myseries[i] = {
                name: areas[i],
                type:'line',
                data: mydata[i]
        }
    }
    //console.log(myseries)
    myChart.setOption({
        title: {
            text: ''
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            selectedMode: 'single', //单选
            data:  {{ areas|safe }},
            itemWidth: 50,
            itemHeight: 35,
            padding: [
                        5,  // 上
                        10, // 右
                        20,  // 下
                        10, // 左
                    ]

        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data:  ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
            <!--{{ xaxis|safe }}-->
        },
        yAxis: {
            type: 'value',
            scale: true   //刻度自适应
        },
        series: myseries
    });




                    function findCity(){
                        var cities = document.getElementById("cmbCity").value
                        var areas = {{ areas|safe }}
                        var info_dict = {{ info_dict|safe }}
                        $.ajax({
                                url:"/findCity",
                                type:"GET",
                                data:{city : cities},

                                 success:function(data){
                                    <!--alert("成功传入")-->
                                    <!--alert(cities)-->
                                    <!--alert("回调函数，修改data")-->
                                    <!--alert(data.areas)-->
                                        var mydata = new Array()  //数组存放每个地区某一年的价格
                                        var myseries = new Array()
                                        for (var i=0; i < areas.length; i++)
                                        {
                                            mydata[i]= data.info_dict[data.areas[i]].reverse();
                                            myseries[i] = {
                                                    name: data.areas[i],
                                                    type:'line',
                                                    data: mydata[i]
                                            }

                                        }

                                         myChart.setOption({

                                            legend: {
                                                selectedMode: 'single', //单选
                                                data:  data.areas,
                                                itemWidth: 50,
                                                itemHeight: 35

                                            },

                                            yAxis: {
                                                type: 'value',
                                                scale: true   //刻度自适应
                                            },
                                            series: myseries,
                                        });

                                 }
                                 });

                    }


                  function set_option(year)
                  {
                        //alert("ssss")
                        // 异步刷新 调用views.showHouse3函数，传入year 返回data 该年份各地区的历史房价
                        $.ajax({
                            url:"/showHouse",
                            type:"GET",
                            data:{value: year},

                             success:function(data){

                             //console.log(year)
                             document.getElementById("title").innerHTML=year+"年房价走势图";

                                    //alert(data.info_dict['苏州'])
                                    var mydata = new Array()  //数组存放每个地区某一年的价格
                                    var myseries = new Array()
                                    for (var i=0; i < areas.length; i++)
                                    {
                                        mydata[i]= data.info_dict[areas[i]].reverse();
                                        myseries[i] = {
                                                name: areas[i],
                                                type:'line',
                                                data: mydata[i]
                                        }
                                    }
                                     myChart.setOption({

                                        legend: {
                                            selectedMode: 'single', //单选
                                            data:  {{ areas|safe }},
                                            itemWidth: 50,
                                            itemHeight: 35

                                        },

                                        yAxis: {
                                            type: 'value',
                                            scale: true   //刻度自适应
                                        },
                                        series: myseries,
                                    });

                             }
                      });
                  };



if (option && typeof option === "object") {
myChart.setOption(option, true);
}
       </script>
                </td>

                <td>
                    <div id="showinfo" style="font-size: 16px;font-weight: bold;">
                    <p>吴中2月二手房均价
                        <em style="color: #f60;font-style: normal; font-size: 20px; font-family:Microsoft YaHei;">
                            17379
                        </em>
                        元/m²
                    </p>
                    <p>吴中1月二手房均价
                        <em style="color: #f60;font-style: normal; font-size: 20px; font-family:Microsoft YaHei;">
                            17150
                        </em>
                        元/m²</p>
                    <p>环比上月上涨 1.32% ↑，同比去年同期上涨 18.47% ↑</p>
                </div>
                </td>
            </tr>
        </table>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
          各区房价对比图
      </div>
      <div class="panel-body">
          <div id="container2" style="height:300"></div>

            <script type="text/javascript">
                var dom = document.getElementById("container2");
                var myChart1 = echarts.init(dom);
                var app = {};
                option = null;
                var dataAxis = ['点', '击', '柱', '子', '或', '者', '两', '指', '在', '触', '屏', '上', '滑', '动', '能', '够', '自', '动', '缩', '放'];
                var data = [220, 182, 191, 234, 290, 330, 310, 123, 442, 321, 90, 149, 210, 122, 133, 334, 198, 123, 125, 220];
                var yMax = 500;
                var dataShadow = [];
                for (var i = 0; i < data.length; i++) {
                    dataShadow.push(yMax);
                }
                option = {
                    title: {
                        text: '特性示例：渐变色 阴影 点击缩放',
                        subtext: 'Feature Sample: Gradient Color, Shadow, Click Zoom'
                    },
                    xAxis: {
                        data: dataAxis,
                        axisLabel: {
                            inside: true,
                            textStyle: {
                                color: '#fff'
                            }
                        },
                        axisTick: {
                            show: false
                        },
                        axisLine: {
                            show: false
                        },
                        z: 10
                    },
                    yAxis: {
                        axisLine: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#999'
                            }
                        }
                    },
                    dataZoom: [
                        {
                            type: 'inside'
                        }
                    ],
                    series: [
                        { // For shadow
                            type: 'bar',
                            itemStyle: {
                                normal: {color: 'rgba(0,0,0,0.05)'}
                            },
                            barGap:'-100%',
                            barCategoryGap:'40%',
                            data: dataShadow,
                            animation: false
                        },
                        {
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#83bff6'},
                                            {offset: 0.5, color: '#188df0'},
                                            {offset: 1, color: '#188df0'}
                                        ]
                                    )
                                },
                                emphasis: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#2378f7'},
                                            {offset: 0.7, color: '#2378f7'},
                                            {offset: 1, color: '#83bff6'}
                                        ]
                                    )
                                }
                            },
                            data: data
                        }
                    ]
                };
                // Enable data zoom when user click bar.
                var zoomSize = 6;
                myChart1.on('click', function (params) {
                    console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                    myChart1.dispatchAction({
                        type: 'dataZoom',
                        startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                        endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                    });
                });;
                if (option && typeof option === "object") {
                    myChart1.setOption(option, true);
                }
            </script>


      </div>
    </div>
    <ul>
        <!--view返回数据集 pricehistory-->
    {% for info in PriceHistory %}
        <ul>

            <!--{{ info.city_name }}-->
            <!--{{ info.area }}-->
             <!--<li> {{ info.name }}</li>-->
             <!--<li> {{ info.location }}</li>-->
             <!--<li> {{ info.status }}</li>-->

             <!--<li> {{ info.price }} 元/平方</li>-->
             <!--<li> {{ info.total_price }} 万元</li>-->

             <!--<li> {{ info.main_price }} 元/平方</li>-->
             <!--<li> {{ info.second_price }} 万元</li>-->

             <!--<li> {{ info.area }} 平方米</li>-->
        </ul>


    {% empty %}
        <li>没有信息</li>
    {% endfor %}
</ul>

{% endblock content %}


