<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
	    body,html,#map {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=j8KuxCvLuzdrVmN43DloULXghzqNCOy2"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>

    {% load static %}

    <title>房价地图</title>
</head>

<body>
    <div id="map"></div>
</body>
</html>
<script type="text/javascript">
    var conf = {
        minZoomLevel: 8,//最小缩放级数
        divideZoomLevel: 12,//区域/楼盘显示分界级数
    };
    var areas = {{ area|safe }},//区域名列表
        houses = {{ houses|safe }},//楼盘列表
        center = {{ center|safe }},//中心坐标
        finaldata = [],//处理后数据列表
        heatdata = [],//热度图数据列表
        maxprice = 0,//最高房价
        heatshow = false;//热度图显示标识

    //百度地图
    var baidumap = new BMap.Map('map', {
        minZoom: conf.minZoomLevel
    });
    baidumap.enableScrollWheelZoom(true);
    baidumap.disableInertialDragging();
    baidumap.centerAndZoom(new BMap.Point(center.lng, center.lat), 12);
    baidumap.setCurrentCity(conf.cityName);
    //缩放监听器
    baidumap.addEventListener('zoomend', function () {
        console.info('zoom');
        var curr_zoom = baidumap.getZoom();
        var curr_center = baidumap.getCenter();
        var curr_area_index = 0,
            minDist = -1;
        for (var i = 0;i < finaldata.length;i++){
            var dist = baidumap.getDistance(curr_center, finaldata[i].bubble.getPosition());
            if (minDist === -1||dist < minDist){
                curr_area_index = i;
                minDist = dist;
            }
        }
        if (curr_zoom > conf.divideZoomLevel){
            hideBubbles();
            showMarkers(curr_area_index);
        }
        else {
            hideAllMarkers();
            showBubbles();
        }
    });
    //拖拽监听器
    baidumap.addEventListener('dragend', function () {
        console.info('drag');
        var curr_zoom = baidumap.getZoom();
        if (curr_zoom > conf.divideZoomLevel){
            var curr_center = baidumap.getCenter();
            var curr_area_index = 0,
                minDist = -1;
            for (var i = 0;i < finaldata.length;i++){
                var dist = baidumap.getDistance(curr_center, finaldata[i].bubble.getPosition());
                if (minDist === -1||dist < minDist){
                    curr_area_index = i;
                    minDist = dist;
                }
            }
            hideAllMarkers();
            showMarkers(curr_area_index);
        }

    });

    //处理后数据初始化
    for (var i = 0;i < areas.length;i++){
        var area = {};
        area.name = areas[i];//区域名
        area.price = 0;//区域均价
        area.maxlng = 0;//区域最大经度
        area.minlng = 0;//区域最小经度
        area.maxlat = 0;//区域最大纬度
        area.minlat = 0;//区域最小纬度
        area.housecount = 0;//区域楼盘数量
        area.bubble = void 0;//区域显示气泡
        area.markers = [];//区域楼盘显示标记列表
        finaldata.push(area);
    }

    //生成楼盘标记，统计各区域最大最小经纬度
    for (var i = 0;i < houses.length;i++){
        if (houses[i].price != '暂无'){
            var price = parseInt(houses[i].price);
            var heatpoint = {
                "lng": houses[i].longitude,
                "lat": houses[i].latitude,
                "count": price
            };
            heatdata.push(heatpoint);
            if (maxprice < price) maxprice = price;
        }
        for (var j = 0;j < finaldata.length;j++){
            if (finaldata[j].name === houses[i].area){
                finaldata[j].maxlng =
                    (finaldata[j].maxlng===0||finaldata[j].maxlng < houses[i].longitude)?
                        houses[i].longitude:finaldata[j].maxlng;
                finaldata[j].minlng =
                    (finaldata[j].minlng===0||finaldata[j].minlng > houses[i].longitude)?
                        houses[i].longitude:finaldata[j].minlng;
                finaldata[j].maxlat =
                    (finaldata[j].maxlat===0||finaldata[j].maxlat < houses[i].latitude)?
                        houses[i].latitude:finaldata[j].maxlat;
                finaldata[j].minlat =
                    (finaldata[j].minlat===0||finaldata[j].minlat > houses[i].latitude)?
                        houses[i].latitude:finaldata[j].minlat;
                if (houses[i].price != '暂无'){
                    finaldata[j].price += parseInt(houses[i].price);
                    finaldata[j].housecount += 1;
                }
                var marker = new BMap.Marker(
                    new BMap.Point(houses[i].longitude, houses[i].latitude),{
                        zIndex: 1
                    });
                var icon = new BMap.Icon('{% static "echarts/image/house_icon.png"%}', new BMap.Size(20, 20));
                var shadow = new BMap.Icon('{% static "echarts/image/house_icon.png"%}', new BMap.Size(0, 0));
                marker.setIcon(icon);
                marker.setShadow(shadow);
                var label = new BMap.Label(
                    houses[i].area + "<br/>" +
                    houses[i].name + "<br/>" +
                    "售价：" + houses[i].price,
                    {offset: new BMap.Size(-20, -60)}
                );
                label.setStyle({
                    color: "#115599",
                    borderWidth: "50",
                    borderColor: "#115599",
                    zIndex: "2",
                    backgroundColor: "#fff",
                    textAlign: "center",
                    fontFamily: "微软雅黑"
                });
                marker.setLabel(label);
                marker.getLabel().hide();
                marker.addEventListener('mouseover', function () {
                    this.setZIndex(2);
                    this.getLabel().show();
                });
                marker.addEventListener('mouseout', function () {
                    this.setZIndex(1);
                    this.getLabel().hide();
                });
                marker.hide();
                baidumap.addOverlay(marker);
                finaldata[j].markers.push(marker);
            }
        }
    }

    //计算区域均价，生成区域显示气泡
    for (var i = 0;i < areas.length;i++){
        finaldata[i].price /= finaldata[i].housecount;
        finaldata[i].price /= 10000;
        finaldata[i].price = finaldata[i].price.toFixed(2);
        avg_price = finaldata[i].price + '万'
        if (finaldata[i].housecount == 0){
            avg_price = '暂无'
        }

        var bubble = new BMap.Label(
            '<p style="font-size: 14px;' +
            'margin-top: 20px">' + finaldata[i].name + '</p>' +
            '<p>均价：' + avg_price + '</p>', {
                position: new BMap.Point(
                    finaldata[i].maxlng/2+finaldata[i].minlng/2, finaldata[i].maxlat/2+finaldata[i].minlat/2
                ),
                offset: new BMap.Size(-45, -45)
            });
        bubble.setStyle({
            color: '#fff',
            borderWidth: 0,
            borderRadius: '50%',
            textAlign: 'center',
            backgroundColor: '#115599',
            width: '90px',
            height: '90px',
            cursor: "pointer"
        });
        bubble.addEventListener('mouseover', function () {//鼠标停留监听
            this.setStyle({
                backgroundColor: '#cc3344'
            });
        });
        bubble.addEventListener('mouseout', function () {//鼠标离开监听
            this.setStyle({
                backgroundColor: '#115599'
            });
        });
        bubble.addEventListener('mouseup', function () {//鼠标点击监听
            baidumap.centerAndZoom(this.getPosition(), conf.divideZoomLevel+1);
        });
        baidumap.addOverlay(bubble);
        finaldata[i].bubble = bubble;
    }
/*
    //生成热度图
    heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":40});
	baidumap.addOverlay(heatmapOverlay);
	heatmapOverlay.setDataSet({data:heatdata,max:50000});
	//是否显示热力图
    function openHeatmap(){
        heatmapOverlay.show();
    }
	function closeHeatmap(){
        heatmapOverlay.hide();
    }
    closeHeatmap();
    function setGradient(){
     	var gradient = {
     	    .2:'rgb(100, 180, 100)',
			.5:'rgb(255, 255, 0)',
			.8:'rgb(255, 0, 0)'
        };
     	var colors = document.querySelectorAll("input[type='color']");
     	colors = [].slice.call(colors,0);
     	colors.forEach(function(ele){
			gradient[ele.getAttribute("data-key")] = ele.value;
     	});
        heatmapOverlay.setOptions({"gradient":gradient,"opacity":50});
    }
    setGradient();

    // 定义一个控件类,即function
	function HeatControl(){
	  // 默认停靠位置和偏移量
	  this.defaultAnchor = BMAP_ANCHOR_TOP_LEFT;
	  this.defaultOffset = new BMap.Size(10, 10);
	}

	// 通过JavaScript的prototype属性继承于BMap.Control
	HeatControl.prototype = new BMap.Control();

	// 自定义控件必须实现自己的initialize方法,并且将控件的DOM元素返回
	// 在本方法中创建个div元素作为控件的容器,并将其添加到地图容器中
	HeatControl.prototype.initialize = function(map){
        // 创建一个DOM元素
        var div = document.createElement("div");
        // 添加文字说明
        div.appendChild(document.createTextNode("热力图开关"));
        // 设置样式
        div.style.cursor = "pointer";
        div.style.color = "#fff";
        div.style.border = "#115599";
        div.style.borderWidth
        div.style.backgroundColor = "#115599";
        // 绑定事件,点击一次放大两级
        div.onclick = function(e){
            if (heatshow){
                closeHeatmap();
            }
            else {
                openHeatmap();
            }
            heatshow = !heatshow;
        };
        // 添加DOM元素到地图中
        map.getContainer().appendChild(div);
        // 将DOM元素返回
        return div;
	};
	// 创建控件
	var myHeatCtrl = new HeatControl();
	// 添加到地图当中
	baidumap.addControl(myHeatCtrl);
*/
    function showMarkers(index) {//显示选定区域的楼盘标记
        for (var i = 0;i < finaldata[index].markers.length;i++){
            finaldata[index].markers[i].show();
        }
    }

    function hideMarkers(index) {
        for (var i = 0;i < finaldata[index].markers.length;i++){
            finaldata[index].markers[i].hide();
        }
    }

    function hideAllMarkers() {//隐藏所有楼盘标记
        for (var index = 0;index < finaldata.length;index++){
            for (var i = 0;i < finaldata[index].markers.length;i++){
                finaldata[index].markers[i].hide();
            }
        }
    }

    function showBubbles() {//显示区域气泡
        for (var i = 0;i < finaldata.length;i++){
            finaldata[i].bubble.show();
        }
    }

    function hideBubbles() {//隐藏区域气泡
        for (var i = 0;i < finaldata.length;i++){
            finaldata[i].bubble.hide();
        }
    }
</script>