<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

							<div >
								<ul class="list-group">    
								<li class="list-group-item"></li>								
								<li class="list-group-item">A  安徽
								<a href="{% url 'index' '安庆' %}">安庆</a> 
								<a href="{% url 'index' '滁州' %}">滁州</a>    
								<a href="{% url 'index' '合肥' %}">合肥</a>		
								<a href="{% url 'index' '马鞍山' %}">马鞍山</a>	
								<a href="{% url 'index' '芜湖' %}">芜湖</a></li>   		
								
								<li class="list-group-item">B  北京
								<a href="{% url 'index' '北京' %}">北京</a></li>
								
								<li class="list-group-item">C  重庆
								<a href="{% url 'index' '重庆' %}">重庆</a></li>
								
								<li class="list-group-item">F  福建
								<a href="{% url 'index' '福州' %}">福州</a>
								<a href="{% url 'index' '龙岩' %}">龙岩</a>
								<a href="{% url 'index' '泉州' %}">泉州</a>
								<a href="{% url 'index' '厦门' %}">厦门</a>
								<a href="{% url 'index' '漳州' %}">漳州</a>  </li>
								
								<li class="list-group-item">G  广东
										<a href="{% url 'index' '东莞' %}">东莞</a>
										<a href="{% url 'index' '佛山' %}">佛山</a>
										<a href="{% url 'index' '广州' %}">广州</a>
										<a href="{% url 'index' '惠州' %}">惠州</a>
										<a href="{% url 'index' '江门' %}">江门</a> 
										<a href="{% url 'index' '清远' %}">清远</a>
										<a href="{% url 'index' '深圳' %}">深圳</a>
										<a href="{% url 'index' '珠海' %}">珠海</a>
										<a href="{% url 'index' '湛江' %}">湛江</a>
										<a href="{% url 'index' '中山' %}">中山</a></li>

								<li class="list-group-item">G  贵州
										<a href="{% url 'index' '贵阳' %}">贵阳</a></li>
										
								<li class="list-group-item">G  广西
										<a href="{% url 'index' '北海' %}">北海</a>
										<a href="{% url 'index' '桂林' %}">桂林</a>
										<a href="{% url 'index' '柳州' %}">柳州</a>
										<a href="{% url 'index' '南宁' %}">南宁</a></li>
								
								<li class="list-group-item">G  甘肃
										<a href="{% url 'index' '兰州' %}">兰州</a></li>
										
								<li class="list-group-item">H  湖北
										<a href="{% url 'index' '黄石' %}">黄石</a>
										<a href="{% url 'index' '黄冈' %}">黄冈</a>
										<a href="{% url 'index' '武汉' %}">武汉</a>
										<a href="{% url 'index' '襄阳' %}">襄阳</a>
										<a href="{% url 'index' '咸宁' %}">咸宁</a>
										<a href="{% url 'index' '宜昌' %}">宜昌</a></li>

								<li class="list-group-item">H  湖南
										<a href="{% url 'index' '长沙' %}">长沙</a>
										<a href="{% url 'index' '常德' %}">常德</a>
										<a href="{% url 'index' '岳阳' %}">岳阳</a>
										<a href="{% url 'index' '株洲' %}">株洲</a></li>

								<li class="list-group-item">H  河北
										<a href="{% url 'index' '保定' %}">保定</a>
										<a href="{% url 'index' '承德' %}">承德</a>
										<a href="{% url 'index' '邯郸' %}">邯郸</a>
										<a href="{% url 'index' '廊坊' %}">廊坊</a>	
										<a href="{% url 'index' '衡水' %}">衡水</a>
										<a href="{% url 'index' '秦皇岛' %}">秦皇岛</a>		
										<a href="{% url 'index' '石家庄' %}">石家庄</a>
										<a href="{% url 'index' '唐山' %}">唐山</a>	
										<a href="{% url 'index' '邢台' %}">邢台</a>
										<a href="{% url 'index' '张家口' %}">张家口</a>	</li>

										<li class="list-group-item">H  海南
												<a href="{% url 'index' '海口' %}">海口</a>
												<a href="{% url 'index' '三亚' %}">三亚</a></li>
												
								<li class="list-group-item">H  河南
										<a href="{% url 'index' '开封' %}">开封</a>
										<a href="{% url 'index' '洛阳' %}">洛阳</a>
										<a href="{% url 'index' '新乡' %}">新乡</a>
										<a href="{% url 'index' '许昌' %}">许昌</a>	
										<a href="{% url 'index' '郑州' %}">郑州</a>
								</li>	
								
								<li class="list-group-item">H  黑龙江
										<a href="{% url 'index' '哈尔滨' %}">哈尔滨</a>
								</li>

								<li class="list-group-item">J  江苏
										<a href="{% url 'index' '常州' %}">常州</a>
										<a href="{% url 'index' '淮安' %}">淮安</a>
										<a href="{% url 'index' '昆山' %}">昆山</a>
										<a href="{% url 'index' '南京' %}">南京</a>	
										<a href="{% url 'index' '南通' %}">南通</a>
										<a href="{% url 'index' '苏州' %}">苏州</a>
										<a href="{% url 'index' '无锡' %}">无锡</a>
										<a href="{% url 'index' '徐州' %}">徐州</a>	
										<a href="{% url 'index' '盐城' %}">盐城</a>
										<a href="{% url 'index' '镇江' %}">镇江</a>
								</li>

								<li class="list-group-item">J  吉林
										<a href="{% url 'index' '长春' %}">长春</a>
										<a href="{% url 'index' '吉林' %}">吉林</a>									
								</li>

								<li class="list-group-item">J  江西
										<a href="{% url 'index' '赣州' %}">赣州</a>
										<a href="{% url 'index' '九江' %}">九江</a>
										<a href="{% url 'index' '吉安' %}">吉安</a>
										<a href="{% url 'index' '南昌' %}">南昌</a>	
										<a href="{% url 'index' '上饶' %}">上饶</a>									
								</li>

								<li class="list-group-item">L  辽宁
										<a href="{% url 'index' '大连' %}">大连</a>
										<a href="{% url 'index' '丹东' %}">丹东</a>
										<a href="{% url 'index' '沈阳' %}">沈阳</a>																	
								</li>

								<li class="list-group-item">N  内蒙古
										<a href="{% url 'index' '呼和浩特' %}">呼和浩特</a>																
								</li>

								<li class="list-group-item">N  宁夏
										<a href="{% url 'index' '银川' %}">银川</a>																
								</li>

								<li class="list-group-item">S  上海
										<a href="{% url 'index' '上海' %}">上海</a>																
								</li>

								<li class="list-group-item">S  四川
										<a href="{% url 'index' '成都' %}">成都</a>	
										<a href="{% url 'index' '德阳' %}">德阳</a>	
										<a href="{% url 'index' '达州' %}">达州</a>	
										<a href="{% url 'index' '乐山' %}">乐山</a>	
										<a href="{% url 'index' '凉山' %}">凉山</a>	
										<a href="{% url 'index' '绵阳' %}">绵阳</a>	
										<a href="{% url 'index' '眉山' %}">眉山</a>	
										<a href="{% url 'index' '南充' %}">南充</a>																
								</li>

								<li class="list-group-item">S  山东
										<a href="{% url 'index' '济南' %}">济南</a>	
										<a href="{% url 'index' '临沂' %}">临沂</a>	
										<a href="{% url 'index' '青岛' %}">青岛</a>	
										<a href="{% url 'index' '潍坊' %}">潍坊</a>	
										<a href="{% url 'index' '威海' %}">威海</a>	
										<a href="{% url 'index' '烟台' %}">烟台</a>	
										<a href="{% url 'index' '淄博' %}">淄博</a>																
								</li>

								<li class="list-group-item">S  陕西
										<a href="{% url 'index' '宝鸡' %}">宝鸡</a>	
										<a href="{% url 'index' '汉中' %}">汉中</a>	
										<a href="{% url 'index' '西安' %}">西安</a>	
										<a href="{% url 'index' '咸阳' %}">咸阳</a>																
								</li>

								<li class="list-group-item">S  山西
										<a href="{% url 'index' '晋中' %}">晋中</a>	
										<a href="{% url 'index' '太原' %}">太原</a>																
								</li>

								<li class="list-group-item">T  天津
										<a href="{% url 'index' '天津' %}">天津</a>																
								</li>

								<li class="list-group-item">Y  云南
										<a href="{% url 'index' '大理' %}">大理</a>	
										<a href="{% url 'index' '昆明' %}">昆明</a>	
										<a href="{% url 'index' '西双版纳' %}">西双版纳</a>																
								</li>

								<li class="list-group-item">Z  浙江
										<a href="{% url 'index' '杭州' %}">杭州</a>	
										<a href="{% url 'index' '湖州' %}">湖州</a>	
										<a href="{% url 'index' '嘉兴' %}">嘉兴</a>	
										<a href="{% url 'index' '金华' %}">金华</a>		
										<a href="{% url 'index' '宁波' %}">宁波</a>	
										<a href="{% url 'index' '绍兴' %}">绍兴</a>		
										<a href="{% url 'index' '台州' %}">台州</a>	
										<a href="{% url 'index' '温州' %}">温州</a>																	
								</li>
							</ul>
							</div>
							
							